header {
  top: 30px;
}

.logo__title {
  color: #545454;
}

.logo__subtitle {
  color: #292929;
}

nav ul li a:hover {
  color: #292929;
}

.list__link_active {
  color: #292929;
}

.list__link_disabled {
  color: #545454;
}

.slider {
  display: flex;
  justify-content: space-between;	
  align-items: center;	
  padding: 59px 0;	
  min-width: 100%;	
}

.slider__slides{
  column-gap: 90px;	
  flex-wrap: wrap;	
  overflow: hidden;
}

.slider-button{
  position: static;
}

.our-friends {
  min-height: 1342px;
  height: 100%;
  margin-top: 120px;
  padding-bottom: 5%;
}

.controls{
  display: flex;
  width: 100%;
  column-gap: 1.65%;
  justify-content: center;
}

.slider__slides{
  column-gap: 40px;
  row-gap: 30px;
  max-height: 100% !important;
}

.slider-button_active{
  background: #F1CDB3;
}

.slider-button_disabled{
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
}

.slider-button_disabled:hover{
  background: none;
  border: 2px solid #CDCDCD;
}